aniso8601==9.0.1
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
Fiona==1.8.20
Flask==2.0.2
Flask-RESTful==0.3.9
flask-restx==0.5.1
Flask-Cors==3.0.10
geopandas==0.10.2
gql==2.0.0
graphql-core==2.3.2
idna==3.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
jsonschema==4.3.3
MarkupSafe==2.0.1
munch==2.5.0
nshm-toshi-client @ git+https://github.com/GNS-Science/nshm-toshi-client@1f375796f96ff7018e35ad5c58b47010e77b0ab4
numpy==1.22.0
pandas==1.3.5
promise==2.3
pynamodb==5.2.0
pyproj==3.3.0
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.0
Rx==1.6.1
s3transfer==0.5.0
Shapely==1.8.0
six==1.16.0
solvis @ git+https://github.com/GNS-Science/solvis@66c3a514568d10d8a288ad48c9341a1786d76be8
urllib3==1.26.7
Werkzeug==2.0.2
zipp==3.7.0